*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(202, 171, 231, 0.616);
}
.text-box{
    font-family:Verdana;
    width: 500px;
    min-height: 300px;
    border:none;
    margin: 20px auto;
    display: block;
    font-size: 18px;
    padding: 10px;
    resize: none;
    border-radius: 15px;
    box-shadow:0 0 10px 10px rgba(94, 94, 94, 0.295) ;
    outline: none;
}
#result{
    display: block;
    margin-left: 430px;
    font-family: Verdana;
    font-size: 20px;
}